html { position: relative; margin: 0; padding: 0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imMnMnGraphics { position: absolute; top: 0; bottom: 0; z-index: 9; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; overflow: hidden; zoom: 1; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
html { background-image: url('pixabay-bb4b33cd9d2b4e405e.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-color: #F3F2EA; }
#imPage { padding-top: 0; margin-top: 0px; margin-bottom: 0px; }
#imHeaderBg { height: 340px; background-image: none; background-color: transparent; }
#imHeader { position: relative; margin-bottom: 40px; margin-left: auto; margin-right: auto; height: 300px; background-image: url('pixabay-bb4838c89a2c4e4a5e.jpg'); background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
#imHeaderObjects { position: relative; height: 300px; }
#imMnMnContainer { position: absolute; top: 300px; left: 0; right: 0; margin-left: auto; margin-right: auto; }
#imMnMn { position: relative; height: 37px; padding: 0px 0px 3px 0px; background-image: none; background-color: #FFFFFF; }
#imMnMn > ul { text-align: center; }
#imMnMn li { display: inline; }
#imMnMnGraphics { display: none; }
#imContent { min-height: 300px; padding: 15px 0 3px 0; }
#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 300px;  background-image: none; background-color: #FFFFFF; }
#imFooterBg { height: 100px; background-image: none; background-color: transparent; }
#imFooter { margin-left: auto; margin-right: auto; height: 50px; background-image: none; background-color: transparent; }
#imFooterObjects { position: relative; height: 50px; }
#imFooPad { height: 300px; }
#imHeader, #imMnMnContainer, #imFooter { width: 960px; }
#imMnMn { width: 960px; }
#imContentGraphics { width: 960px; }
