#imHeader_imCell_2 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_2 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imTextObject_02 { font-style: normal; font-weight: normal; line-height: 20px; }
#imHeader_imTextObject_02_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imHeader_imTextObject_02_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imHeader_imTextObject_02_tab0 ul ul ul { list-style: circle; }
#imHeader_imTextObject_02_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imHeader_imTextObject_02_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imHeader_imTextObject_02_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imHeader_imTextObject_02_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imHeader_imTextObject_02_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imHeader_imTextObject_02_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imHeader_imTextObject_02_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imHeader_imTextObject_02_tab0 p { margin: 0; padding: 0; }
#imHeader_imTextObject_02_tab0 .inline-block { display: inline-block; }
#imHeader_imTextObject_02_tab0 sup { vertical-align: super; font-size: smaller; }
#imHeader_imTextObject_02_tab0 sub { vertical-align: sub; font-size: smaller; }
#imHeader_imTextObject_02_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imHeader_imTextObject_02_tab0 .fleft { float: left; vertical-align: baseline;}
#imHeader_imTextObject_02_tab0 .fright { float: right; vertical-align: baseline;}
#imHeader_imTextObject_02_tab0 img.fleft { margin-right: 15px; }
#imHeader_imTextObject_02_tab0 img.fright { margin-left: 15px; }
#imHeader_imTextObject_02_tab0 .imUl { text-decoration: underline; }
#imHeader_imTextObject_02_tab0 .imVt { vertical-align: top; }
#imHeader_imTextObject_02_tab0 .imVc { vertical-align: middle; }
#imHeader_imTextObject_02_tab0 .imVb { vertical-align: bottom; }
#imHeader_imTextObject_02_tab0 .fs16 { vertical-align: baseline; font-size: 16pt;line-height: 28px; }
#imHeader_imTextObject_02_tab0 .cf1 { color: rgb(0, 64, 255); }
#imHeader_imTextObject_02 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imHeader_imTextObject_02 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imHeader_imTextObject_02 .text-container {height: 56px; }
#imHeader_imCell_3 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_3 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_3 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imFooter_imCell_1 { display: block; position: relative; overflow: hidden; }
#imFooter_imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imFooter_imCellStyleGraphics_1 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imFooter_imTextObject_01 { font-style: normal; font-weight: normal; line-height: 20px; }
#imFooter_imTextObject_01_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imFooter_imTextObject_01_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imFooter_imTextObject_01_tab0 ul ul ul { list-style: circle; }
#imFooter_imTextObject_01_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imFooter_imTextObject_01_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imFooter_imTextObject_01_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imFooter_imTextObject_01_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imFooter_imTextObject_01_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imFooter_imTextObject_01_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imFooter_imTextObject_01_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imFooter_imTextObject_01_tab0 p { margin: 0; padding: 0; }
#imFooter_imTextObject_01_tab0 .inline-block { display: inline-block; }
#imFooter_imTextObject_01_tab0 sup { vertical-align: super; font-size: smaller; }
#imFooter_imTextObject_01_tab0 sub { vertical-align: sub; font-size: smaller; }
#imFooter_imTextObject_01_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imFooter_imTextObject_01_tab0 .fleft { float: left; vertical-align: baseline;}
#imFooter_imTextObject_01_tab0 .fright { float: right; vertical-align: baseline;}
#imFooter_imTextObject_01_tab0 img.fleft { margin-right: 15px; }
#imFooter_imTextObject_01_tab0 img.fright { margin-left: 15px; }
#imFooter_imTextObject_01_tab0 .imUl { text-decoration: underline; }
#imFooter_imTextObject_01_tab0 .imVt { vertical-align: top; }
#imFooter_imTextObject_01_tab0 .imVc { vertical-align: middle; }
#imFooter_imTextObject_01_tab0 .imVb { vertical-align: bottom; }
#imFooter_imTextObject_01_tab0 .fs9 { vertical-align: baseline; font-size: 9pt;line-height: 19px; }
#imFooter_imTextObject_01_tab0 .cf1 { color: rgb(191, 128, 255); }
#imFooter_imTextObject_01_tab0 .ff1 { font-family: 'Georgia'; }
#imFooter_imTextObject_01 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imFooter_imTextObject_01 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imFooter_imTextObject_01 .text-container {height: 20px; }

/* CONTAINER AND TITLE */
#imPgTitle.searchPageTitle { margin-left: 5px; margin-right: 5px; }

/* SIDE MENU  */

@media (min-width: 960px) {
	#imSearchContent { width: 791px; padding: 20px 0; float: right; }
	#imSearchSideBar { width: 131px; padding: 20px 0; float: left; }
	#imSearchSideBar li { display: block; width: 100%; }
	
}
@media  (max-width: 959px) and (min-width: 720px) {
	#imSearchContent { width: 100%; padding: 20px 0; }
	#imSearchSideBar { width: 100%; text-align: center; }
	#imSearchSideBar li { display: inline-block; width: auto; margin-right: 5px; }
	
}
@media  (max-width: 719px) and (min-width: 480px) {
	#imSearchContent { width: 100%; padding: 20px 0; }
	#imSearchSideBar { width: 100%; text-align: center; }
	#imSearchSideBar li { display: inline-block; width: auto; margin-right: 5px; }
	
}
@media  (max-width: 479px) {
	#imSearchContent { width: 100%; padding: 20px 0; }
	#imSearchSideBar { width: 100%; text-align: center; }
	#imSearchSideBar li { display: inline-block; width: auto; margin-right: 5px; }
	
}
.imSLabel { padding: 10px 0; }
#imSearchSideBar ul { border-top: 0px solid #808080; border-bottom: 0px solid #808080; border-left: 0px solid #808080; border-right: 0px solid #808080; }
#imSearchSideBar li { margin-bottom: 13px; background-color: transparent; border-bottom: 1px solid #A9A9A9; }
#imSearchSideBar .imPgMnFirst { border: none; }

/* Normal font style */
#imSearchSideBar .imScMnTxt { display: block; padding: 6px 3px; text-decoration: none; font: normal normal 9pt 'Lucida Sans Unicode'; color: #000000;}

/* Current or hover font style */
#imSearchSideBar li:hover { background-color: #808080; cursor: pointer; }
#imSearchSideBar li:hover a, #imSearchSideBar li:hover .imScMnTxt { cursor: pointer; text-decoration: none; color: #FFFFFF; font-style: normal; font-weight: normal; }
.imScMnTxt a { display: block; width: 100%; }

/* Section font style */
#imSearchSideBar .imPgMnSeparator a, #imSearchSideBar .imPgMnSeparator .imScMnTxt, #imSearchSideBar .imPgMnSeparator:hover a, #imSearchSideBar .imPgMnSeparator .imScMnTxt { cursor: auto; background-color: transparent; text-decoration: none; color: #A9A9A9; font-style: normal; font-weight: bold; }
#imSearchSideBar li:hover.imPgMnSeparator { cursor: auto; background-color: transparent; }
#imSearchSideBar ul a, #imSearchSideBar ul a:hover, #imSearchSideBar ul a:visited { font: inherit; color: inherit; text-align: inherit; text-decoration: none; }

/* SEARCH FIELDS */
.imPageSearchField { text-align: center; }
.imPageSearchField .search_field { border: 1px solid black; background-color: white; font: inherit; }

/* RESULTS */
.imSearchLink { margin-top: 5px; }
.imSearchPageResult, .imSearchBlogResult { margin: 0 0 20px 0; }
.imSearchProductResult { margin: 0 0 30px 0; }
#imSearchResults .imSearchCount { text-decoration: none; font-weight: normal; }
#imSearchResults h3 { color: inherit; margin-bottom: 5px; font-size: 1.2em; text-decoration: underline; font-weight: normal; }
#imSearchResults h3 a, #imSearchResults h3 a:hover, #imSearchResults h3 a:visited { color: inherit; }
#imSearchResults .imProductImage { display: inline-block; width: 20%; text-align: center; vertical-align: top; }
#imSearchResults .imProductImage img { max-width: 100%; }
#imSearchResults .imProductTitle img { margin-left: 10px; }
#imSearchResults .imProductTitle { margin-bottom: 10px; }
#imSearchResults .imProductDescription { display: inline-block; width: 80%; }
#imSearchResults .imProductDescription > * { padding-right: 10px; padding-left: 10px; }
.imSearchImageResultContent {float: left; width: 50%;}
.imSearchImageResult {clear: none; float: left; width: 50% }
.imSearchImageResult img { border-width: 0; width: 94%; padding-left: 3%; padding-right: 3%; float: left; }
.imSearchVideoResultContent {float: left; width: 50%;}
.imSearchVideoResult {clear: none; float: left; width: 50% }
.imSearchVideoResult img { border-width: 0; width: 94%; padding-left: 3%; padding-right: 3%; float: left; }
.imSearchVideoDuration { margin-top: 5px; clear: both; display: block; text-decoration: none; color: gray; font-weight: normal; }
#imSearchPage { box-sizing: border-box; width: 960px; margin-left: auto; margin-right: auto; padding: 0 30px 0 9px; }

#imHeader_imTextObject_02_wrapper { position: absolute; top: 18px; left: 8px; width: 211px; height: 92px; z-index: 1; overflow-y: hidden; }
#imHeader_imCell_2 { width: 211px; min-height: 56px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyle_2 { width: 211px; min-height: 56px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imCellStyleGraphics_2 { left: 0px; right: 0px; }
#imHeader_imHTMLObject_03_wrapper { position: absolute; top: 2px; left: 756px; width: 200px; height: 100px; z-index: 2; overflow-y: hidden; }
#imHeader_imCell_3 { width: 200px; min-height: 350px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imHeader_imCellStyle_3 { width: 200px; min-height: 350px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imHeader_imCellStyleGraphics_3 { left: 0px; right: 0px; }

#imFooter_imTextObject_01_wrapper { position: absolute; top: 20px; left: -11px; width: 298px; height: 62px; z-index: 1; overflow-y: hidden; }
#imFooter_imCell_1 { width: 298px; min-height: 20px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
#imFooter_imCellStyle_1 { width: 298px; min-height: 20px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imFooter_imCellStyleGraphics_1 { left: 0px; right: 0px; }

